extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li
      a(href="/stream.ts") RAW TS(ffmpeg)
    li
      a(href="/stream/stream_0.ts") RAW TS(static)
    li
      a(href="/stream.m3u8") playlist(app.js)
    li
      a(href="/stream/playlist.m3u8") playlist(static)
    li
      a(href="/now.mkv") Stream from Acuity(MKV)
    li
      a(href="/now.ts") Stream from Acuity(TS)
    li
      a(href="/now.m3u8") Stream from Acuity(playlist)
